<section id="about">
    <div class="container">
        <div class="row  flex-about">
            <div class="wow bounceInLeft item-text">
                <div class="title-section" id="title-about">
                    <h1>@Resource.About</h1>
                    <span>Как мы до такого докатились</span>
                </div>
                <p>
                    Контакт-центр Call Time был <b>основан в 2009 году</b> с целью улучшения качества работы компаний посредством внедрения новых технологий, 
                    повышения уровня обслуживания клиентов, для организации бизнеса и, как следствие, повышении прибыли. 
                    <br /><br />                                    
                    В штате почти 200 сотрудников, 
                    в число которых входят опытные операторы и профессиональный административно-управленческий персонал.
                    <br /><br />   
                    Мы занимаемся контролем качества работы и повышением квалификации нашего персонала путем проведения тематических тренингов.
                    <br /><br />   
                    Клиентами нашего колл-центра являются
                    различные крупные коммерческие компании, а также государственные организации России и стран СНГ. Среди клиентов Call центра 
                    Call Time - компании, работающие в различных сферах: банки, страховые компании, интернет магазины, строительные компании, производители
                    бытовой и офисной техники, брокерские компании и многие другие.
                </p>
            </div>
            <div class="item-img">
                <div class="about-img">
                    <img src="~/asserts/img/man about.png" />
                </div>
            </div>
        </div>
    </div>


</section>