<section id="become-partner">
<div class="container">
    <div align="center" class="title-section white">
        <h1>@Resource.BecomeOurPartner</h1> 
        <span>Будьте уверены, что обращаетесь к профессионалам своего дела</span>
    </div>
    <div class="content ">
        <button class="btn btn-orange upper" data-wow-delay="0.2s">@Resource.ConnectWithUs</button>
    </div>

</div>
</section>