<section id="become-partner">
<div class="container">
    <div align="center" class="title-section white">
        <h1>Стать нашим партнером</h1> 
        <span>Будьте уверены, что обращаетесь к профессионалам своего дела</span>
    </div>
    <div class="content ">
        <button class="btn btn-orange " data-wow-delay="0.2s">СВЯЗАТЬСЯ С НАМИ</button>
    </div>

</div>
</section>