
<section id="contacts">
    <div class="container">
        <div class="box-contact wow zoomIn animated">
            <div class="feedback">
                <div class="title-section">
                    <h1>Форма обратной связи</h1>
                    <span>Не нашли ответ на нужный вопрос? Напишите нам</span>
                </div>
                <form method="post" action="@Url.Action("Feedback","Home")">
                    <div class="feedback-form">
                        <div class="item">
                            <div class="col-3">
                                <input type="text" class="effect-3" name="Name" required placeholder="Ваше имя, например Иван" />
                                <span class="focus-border">
                                    <i></i>
                                </span>
                            </div>
                            <div class="col-3">
                                <input type="email" class="effect-3" name="Email" required placeholder="Электронный адрес" />
                                <span class="focus-border">
                                    <i></i>
                                </span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-3">
                                <input type="tel" name="Phone" class="effect-3" required  placeholder="Телефон" />
                                <span class="focus-border">
                                    <i></i>
                                </span>
                            </div>
                            <div class="col-3">
                                <input type="text" name="Company"  class="effect-3"  placeholder="Компания (необязательно) " />
                                <span class="focus-border">
                                    <i></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="text-message">
                        <input type="text" name="Text" placeholder="Текст вашего сообщение" />
                    </div>
                    <div class="feedback-form">
                        <div class="item">
                            <div class="g-recaptcha" data-callback="recaptchaCallback" data-sitekey="6LeRUEoUAAAAAAD3JMGSIn1zhVZ0KzqmY4R75f2n"></div>
                        </div>
                        <div>
                            <p>
                                Ваши персональные данные не будут переданы третьим лицам и остануться строго конфидициональны.
                            </p>
                        </div>
                    </div>
                    <div class="send">
                        <button type="submit" id="feedbackSubmit"  class="btn btn-orange btn-large" disabled>ОТПРАВИТЬ</button>
                    </div>
                </form>
            </div>
            <div class="contact">
                <div class="title-section white">
                    <h1>Контакты</h1>
                    <span>Получите консультацию по телефону или заходите к нам</span>
                </div>
                <div class="contact-info">
                    <div class="wow flipInX" data-wow-delay="0.6s">
                        <span class="icon icon-location2"></span>Тирасполь, Одесская 86\1
                    </div>
                    <div class="wow flipInX" data-wow-delay="0.9s">
                        <span class="icon icon-location2"></span>Бендеры, Ленина 6
                    </div>
                    <div class="wow flipInX" data-wow-delay="1.2s">
                        <span class="icon icon-mail"></span><a href="mailto:info@call-time.ru">info@call-time.ru</a>
                    </div>
                    <div class="wow flipInX" data-wow-delay="1.5s">
                        <span class="icon icon-phone"></span><a href="tel:37377833338">+373 778-3333-8</a>
                    </div>
                    <div class="wow flipInX" data-wow-delay="1.8s">
                        <span class="icon icon-skype"></span><a href="skype:alexpetra4?call">alexpetra4</a>
                    </div>
                    <div class="wow flipInX" data-wow-delay="2.1s">
                        <span class="icon icon-vk"></span><a href="https://vk.com">Вконтакте</a>
                    </div>
                </div>
                <div class="on-map">
                    <a href="#">На карте</a>
                </div>
            </div>
        </div>
    </div>
</section>
<script src='https://www.google.com/recaptcha/api.js?hl=ru'></script>
<script>
    function recaptchaCallback() {
        console.log("google");
        $('#feedbackSubmit').removeAttr('disabled');
    };
</script>