<section id="facts-figurese">
    <div class="container">
        <div align="center" class="title-section">
            <h1>Факты и цифры</h1>         
        </div>
        <div class="row wow fadeInRight flex-facts">      
            <div>
                
                    <span class="number number-5">5</span><i>+</i>
                
                <span  class="description">лет работы на рынке страны</span>
            </div>
            <div>
                <span class="number number-24">24</span>
                <span class="description">часа в сутки на связи</span>
            </div>
            <div>
                <span class="number number-327">327</span>
                <span class="description">квалифицированных операторов</span>
            </div>
            <div>
                <span class="number number-42">42</span>
                <span class="description">партнера которых мы обслуживаем</span>
            </div>
        </div>
    </div>
</section>