<section id="header">
    <div class="container flex-column">
        <div class="title-header">
            Субподряд
            <p>для <span>Call-центров</span></p>
        </div>
        <div class="desicription-header" >
            Технические и операторские ресурсы контакт-центра для обслуживания ваших клиентов
        </div>

        <div class="icons-header">
            <a href="#services" class="nav-incoming-service">
                <div class="box-icon arrow-down">
                    <span class="icon icon-arrow-down2"></span>
                </div>
            </a>
            <a href="#services" class="nav-outgoing-service">
                <div class="box-icon arrow-up">
                    <span class="icon icon-arrow-up-right2"></span>
                </div>
            </a>
            <a href="#services" class=" nav-additional-service">
                <div class="box-icon plus">
                    <span class="icon icon-plus"></span>
                </div>
            </a>
        </div>
    </div>
    <div class="circle-icon" id="arrow-down">
        <a href="#services">
            <span class="icon icon-ctrl revers">

            </span>
        </a>
    </div>
</section>

