    <section id="header">
    <div class="container flex-column">
        <div class="title-header">
            @Resource.Subcontract
            <p>@Resource.For <span>@Resource.CallCenters</span></p>
        </div>
        <div class="desicription-header">
            <div class="slick-header">
                <div>Технические и операторские ресурсы контакт-центра для обслуживания ваших клиентов</div>
                <div>Call Time предлагает все услуги по входящим вызовам, которые помогут оптимизировать работу ваших сотрудников и в целом повысить эффективность бизнеса.</div>
                <div>Исходящие звонки - это возможность актуализировать контакты, вовремя донести необходимую информацию до клиентов, а также получить интересующие для Вас сведения и мнения целевой аудитории</div>
                <div>Аутсорсинговый call-центр Call Time предлагает Вам широкий спектр услуг, так или иначе связанных с совершением и приемом телефонных звонков, а также с другими телекоммуникационными технологиями.</div>
            </div>
           
        </div>

        <div  class="icons-header">
            <a href="#services" class="nav-incoming-service">
                <div class="box-icon arrow-down">
                    <span class="icon icon-arrow-down2"></span>
                </div>
            </a>
            <a href="#services" class="nav-outgoing-service">
                <div class="box-icon arrow-up">
                    <span class="icon icon-arrow-up-right2"></span>
                </div>
            </a>
            <a href="#services" class=" nav-additional-service">
                <div class="box-icon plus">
                    <span class="icon icon-plus"></span>
                </div>
            </a>
        </div>
    </div>
    <div class="circle-icon" id="arrow-down">
        <a href="#services">
            <span class="icon icon-ctrl revers">

            </span>
        </a>
    </div>

</section>
