<section id="services">
    <div class="container">
        <div align="center" class="title-section">
            <h1>@Resource.Services</h1>
            <span>@Resource.OfferOfOurCompany</span>
        </div>
        <div class="wow fadeInUp">
            <div class="row flex-row">
                <div class="nav-services nav-incoming-service active">
                    <span class="icon icon-arrow-down2"></span>
                    Входящие услуги
                </div>
                <div class="nav-services nav-outgoing-service">
                    <span class="icon icon-arrow-up-right2"></span>
                    Исходящие услуги
                </div>
                <div class="nav-services nav-additional-service" >
                    <span class="icon icon-plus"></span>
                    Дополнительные услуги
                </div>
            </div>
            <div class="services-content">
                <div id="incoming-service" class="active">
                    <div class="title">
                        Предлагаем все услуги по входящим вызовам, которые помогут оптимизировать работу ваших сотрудников и повысить эффективность бизнеса.
                    </div>
                    <div class="flex-ul">
                        <div class="flex-li">
                            <div class="number">
                                01
                            </div>
                            <div class="text">
                                <div class="title-li">
                                    Техническая поддержка
                                </div>
                                <p>
                                    Вы продаете электронные устройства или иные технические товары? Тогда вам знакома проблема с постоянной перегруженностью вашей сервисной службы,
                                    которая вынуждена отвечать на типовые вопросы клиентов по работе и эксплуатации вашей продукции. Но эта проблема легко, быстро и недорого решается,
                                    закажите у нас услугу "Техническая поддержка" и увеличьте уровень лояльности Ваших клиентов. Техническая поддержка от колл-центра — Call Time
                                    скорая информационная помощь для ваших клиентов.
                                </p>
                            </div>
                            <div>
                                <span class="icon icon-circle-down">
                                </span>
                            </div>
                        </div>
                        <div class="flex-li">
                            <div class="number">
                                02
                            </div>
                            <div class="text">
                                <div class="title-li">
                                    Горячая линия
                                </div>
                                <p>
                                    Вы продаете электронные устройства или иные технические товары? Тогда вам знакома проблема с постоянной перегруженностью вашей сервисной службы,
                                    которая вынуждена отвечать на типовые вопросы клиентов по работе и эксплуатации вашей продукции. Но эта проблема легко, быстро и недорого решается,
                                    закажите у нас услугу "Техническая поддержка" и увеличьте уровень лояльности Ваших клиентов. Техническая поддержка от колл-центра — Call Time
                                    скорая информационная помощь для ваших клиентов.
                                </p>
                            </div>
                            <div>
                                <span class="icon icon-circle-down">
                                </span>
                            </div>
                        </div>
                        <div class="flex-li">
                            <div class="number">
                                03
                            </div>
                            <div class="text">
                                <div class="title-li">
                                    Личный секретарь
                                </div>
                                <p>
                                    Вы продаете электронные устройства или иные технические товары? Тогда вам знакома проблема с постоянной перегруженностью вашей сервисной службы,
                                    которая вынуждена отвечать на типовые вопросы клиентов по работе и эксплуатации вашей продукции. Но эта проблема легко, быстро и недорого решается,
                                    закажите у нас услугу "Техническая поддержка" и увеличьте уровень лояльности Ваших клиентов. Техническая поддержка от колл-центра — Call Time
                                    скорая информационная помощь для ваших клиентов.
                                </p>
                            </div>
                            <div>
                                <span class="icon icon-circle-down">
                                </span>
                            </div>
                        </div>
                        <div class="flex-li">
                            <div class="number">
                                04
                            </div>
                            <div class="text">
                                <div class="title-li">
                                    Поддержка рекламных акций
                                </div>
                                <p>
                                    Вы продаете электронные устройства или иные технические товары? Тогда вам знакома проблема с постоянной перегруженностью вашей сервисной службы,
                                    которая вынуждена отвечать на типовые вопросы клиентов по работе и эксплуатации вашей продукции. Но эта проблема легко, быстро и недорого решается,
                                    закажите у нас услугу "Техническая поддержка" и увеличьте уровень лояльности Ваших клиентов. Техническая поддержка от колл-центра — Call Time
                                    скорая информационная помощь для ваших клиентов.
                                </p>
                            </div>
                            <div>
                                <span class="icon icon-circle-down">
                                </span>
                            </div>
                        </div>
                        <div class="flex-li">
                            <div class="number">
                                05
                            </div>
                            <div class="text">
                                <div class="title-li">
                                    Прием и обработка заказов
                                </div>
                                <p>
                                    Вы продаете электронные устройства или иные технические товары? Тогда вам знакома проблема с постоянной перегруженностью вашей сервисной службы,
                                    которая вынуждена отвечать на типовые вопросы клиентов по работе и эксплуатации вашей продукции. Но эта проблема легко, быстро и недорого решается,
                                    закажите у нас услугу "Техническая поддержка" и увеличьте уровень лояльности Ваших клиентов. Техническая поддержка от колл-центра — Call Time
                                    скорая информационная помощь для ваших клиентов.
                                </p>
                            </div>
                            <div>
                                <span class="icon icon-circle-down">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="outgoing-service">
                    <div class="title">
                        Предлагаем все услуги по исходящим вызовам, которые помогут оптимизировать работу ваших сотрудников.
                    </div>
                    <div class="flex-ul">
                        <div class="flex-li">
                            <div class="number">
                                01
                            </div>
                            <div class="text">
                                <div class="title-li">
                                    Техническая поддержка
                                </div>
                                <p>
                                    Вы продаете электронные устройства или иные технические товары? Тогда вам знакома проблема с постоянной перегруженностью вашей сервисной службы,
                                    которая вынуждена отвечать на типовые вопросы клиентов по работе и эксплуатации вашей продукции. Но эта проблема легко, быстро и недорого решается,
                                    закажите у нас услугу "Техническая поддержка" и увеличьте уровень лояльности Ваших клиентов. Техническая поддержка от колл-центра — Call Time
                                    скорая информационная помощь для ваших клиентов.
                                </p>
                            </div>
                            <div>
                                <span class="icon icon-circle-down">
                                </span>
                            </div>
                        </div>
                        <div class="flex-li">
                            <div class="number">
                                02
                            </div>
                            <div class="text">
                                <div class="title-li">
                                    Горячая линия
                                </div>
                                <p>
                                    Вы продаете электронные устройства или иные технические товары? Тогда вам знакома проблема с постоянной перегруженностью вашей сервисной службы,
                                    которая вынуждена отвечать на типовые вопросы клиентов по работе и эксплуатации вашей продукции. Но эта проблема легко, быстро и недорого решается,
                                    закажите у нас услугу "Техническая поддержка" и увеличьте уровень лояльности Ваших клиентов. Техническая поддержка от колл-центра — Call Time
                                    скорая информационная помощь для ваших клиентов.
                                </p>
                            </div>
                            <div>
                                <span class="icon icon-circle-down">
                                </span>
                            </div>
                        </div>              
                    </div>
                </div>
                <div id="additional-service">
                    <div class="title">
                        Предлагаем  дополнительные услуги, которые помогут оптимизировать работу ваших сотрудников.
                    </div>
                    <div class="flex-ul">
                        <div class="flex-li">
                            <div class="number">
                                01
                            </div>
                            <div class="text">
                                <div class="title-li">
                                    Техническая поддержка
                                </div>
                                <p>
                                    Вы продаете электронные устройства или иные технические товары? Тогда вам знакома проблема с постоянной перегруженностью вашей сервисной службы,
                                    которая вынуждена отвечать на типовые вопросы клиентов по работе и эксплуатации вашей продукции. Но эта проблема легко, быстро и недорого решается,
                                    закажите у нас услугу "Техническая поддержка" и увеличьте уровень лояльности Ваших клиентов. Техническая поддержка от колл-центра — Call Time
                                    скорая информационная помощь для ваших клиентов.
                                </p>
                            </div>
                            <div>
                                <span class="icon icon-circle-down">
                                </span>
                            </div>
                        </div>
                        <div class="flex-li">
                            <div class="number">
                                02
                            </div>
                            <div class="text">
                                <div class="title-li">
                                    Горячая линия
                                </div>
                                <p>
                                    Вы продаете электронные устройства или иные технические товары? Тогда вам знакома проблема с постоянной перегруженностью вашей сервисной службы,
                                    которая вынуждена отвечать на типовые вопросы клиентов по работе и эксплуатации вашей продукции. Но эта проблема легко, быстро и недорого решается,
                                    закажите у нас услугу "Техническая поддержка" и увеличьте уровень лояльности Ваших клиентов. Техническая поддержка от колл-центра — Call Time
                                    скорая информационная помощь для ваших клиентов.
                                </p>
                            </div>
                            <div>
                                <span class="icon icon-circle-down">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>