<section id="strive">
    <div class="container">
        <div class="title-section white">
            <h1>Стремимся</h1>
            <span>Мы дорожим своей репутацией, поэтому всегда предоставляем свои услуги на высшем уровне, чтобы клиенты ниочём не беспокоились.</span>
        </div>

        <div   class="flex-strev">
            <div class="wow flipInY" data-wow-delay="0.1s">
                <span class="orange-line"></span>
                <span class="white">Создавать</span> необходимую основу для успешного бизнеса наших клиентов
            </div>
            <div class="wow flipInX"  data-wow-delay="0.5s">
                <span class="orange-line"></span>
                <span class="white">Соответствовать</span> статусу высокопрофессиональной компании
            </div>
            <div class="wow flipInY"  data-wow-delay="0.9s">
                <span class="orange-line"></span>
                <span class="white">Совершенствовать</span> технологии приема и обработки телефонных звонков
            </div>
            <div class="wow flipInX"  data-wow-delay="1.4s">
                <span class="orange-line"></span>
                <span class="white">Расширять</span> пределы своих возможностей при этом оставаться лидерами
            </div>
        </div>
    </div>
</section>
