@using CallTime.Web.Infrastructure
<header class="page-header">
    <nav class="navbar mega-menu" role="navigation">
        <div class="container-fluid">
            <div class="clearfix navbar-fixed-top">
                <!-- Brand and toggle get grouped for better mobile display -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="toggle-icon">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </span>
                </button>
                <!-- End Toggle Button -->
                <!-- BEGIN LOGO -->
                <a id="index" class="page-logo" href="">
                    <img src="~/Areas/Admin/assets/admin/img/admin-logo-extra-big.png" alt="Logo">
                </a>
                <!-- END LOGO -->
                <!-- BEGIN TOPBAR ACTIONS -->
                <div class="topbar-actions">
                    <!-- BEGIN USER PROFILE -->
                    <div class="btn-group-img btn-group">
                        <button type="button" class="btn btn-sm md-skip dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <span>Hi, @User.Email</span>
                            <img src="~/Areas/Admin/assets/admin/img/avatar.png" alt="">
                        </button>
                        <ul class="dropdown-menu-v2" role="menu">
                            <li>
                                <a href="@Url.Action("LogOut","Home")">
                                    <i class="icon-key"></i>Выход
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- END USER PROFILE -->
                </div>
                <!-- END TOPBAR ACTIONS -->
            </div>

            <!-- BEGIN HEADER MENU -->
            @Html.Partial("Partial/LeftSideBar")
            <!-- END HEADER MENU -->
        </div>
        <!--/container-->
    </nav>
</header>