<div class="nav-collapse collapse navbar-collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
        <li class="dropdown dropdown-fw dropdown-fw-disabled  active open selected">
            <a href="javascript:;" class="text-uppercase">
                <i class="icon-home"></i> Главная
            </a>
            <ul class="dropdown-menu dropdown-menu-fw">
                <li>
                    <a href="@Url.Action("Index","Settings")">
                        Настройки
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>