@import url('../../fonts/fonts.css');


.top-header {
    background-color: #F7F7F7;
    height: 48px;
}

    .top-header .container {
        height: 100%;
    }

.bottom-header {
    height: 72px;
    background-color: #FFF;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

    .bottom-header .container {
        height: 100%;
    }



.flex-nav-header {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

    .flex-nav-header .flex-item {
        display: flex;
        align-items: center;
    }

    .flex-nav-header div, .flex-top-header div {
        margin: 0 20px;
    }

        .flex-nav-header div a, .flex-top-header a {
            font-size: 16px;
            color: #383838;
            text-decoration: none;
            flex: 1 1 auto;
            font-family: Roboto-Bold;
        }

    .flex-nav-header .flex-item.active {
        border-bottom: 3px solid #FF8035;
    }

.flex-top-header a {
    font-family: Roboto-Regular;
    font-size: 14px;
    color: #BEBEBE;
}

.flex-nav-header.pull-right a {
    font-size: 12px;
    font-family: Roboto-Regular;
    color: #BEBEBE;
}

    .flex-nav-header.pull-right a.active {
        color: #FF8035;
        font-family: Roboto-Bold;
    }

.flex-top-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100%;
}

.flex-column {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
}

    .flex-column .title-header, .flex-column .desicription-header {
        width: 50%;
    }

.title-header, #solve-problems .title-header div p {
    font-size: 50px;
    font-family: ROBOTOSLAB-BOLD;
}

    .title-header p {
        font-size: 50px;
        font-family: ROBOTOSLAB-BOLD;
        color: #BEBEBE !important;
    }

        .title-header p span {
            color: #FF8035 !important;
        }

.desicription-header, .desicription-header p {
    font-size: 18px;
    font-family: Roboto-Regular;
    color: #383838;
}

.box-icon {
    cursor: pointer;
    width: 65px;
    height: 65px;
    background-color: #F7F7F7;
    box-shadow: 0px 3px 9px 2px #E9E9E9;
    padding: 15px;
    margin: 0 15px;
}

    .box-icon span {
        color: #BEBEBE;
    }

.icons-header {
    display: flex;
    align-content: flex-start;
    flex-direction: row;
}

.circle-icon {
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    color: #BEBEBE;
    position: relative;
    padding: 0px 6px;
    left: 50%;
    top: -7%;
    background-color: #F7F7F7;
    box-shadow: 0 0 9px 6px rgba(0, 0, 0, 0.03);
    transition: 0.2s;
}

    .circle-icon:hover {
        box-shadow: 0 0 5px 8px rgba(0, 0, 0, 0.06);
    }

.revers {
    transform: rotate(-180deg);
    display: block;
}

.title-section {
    margin-bottom: 75px;
}

    .title-section h1 {
        color: #383838;
        font-size: 36px;
        font-family: ROBOTOSLAB-BOLD;
        line-height: 25px;
    }

    .title-section.white {
        margin-bottom: 0 !important;
    }

        .title-section.white h1 {
            color: #FFFFFF;
        }

    .title-section span, .title-section span p {
        color: #AAAAAA;
        font-size: 20px;
        font-family: Roboto-Light;
    }

    .title-section.white span, .title-section.white p {
        color: #BEBEBE;
    }

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.flex-ul {
    display: flex;
    flex-direction: column;
}

.flex-li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transition: 2s;
}

    .flex-li div {
        flex-basis: 65px;
    }

    .flex-li .text {
        flex-grow: 2;
    }
/*****************************************************
*** Услуги ***
*****************************************************/
.flex-row .nav-services {
    font-family: Roboto-Regular;
    color: #272727;
    font-size: 20px;
    height: 70px;
    padding: 20px 60px;
    cursor: pointer;
}

    .flex-row .nav-services.active {
        background-color: #F7F7F7;
    }

.flex-row .active {
    font-family: Roboto-Bold;
}

.flex-row .icon {
    padding: 20px;
    font-size: 16px;
    color: #BEBEBE;
}

.flex-row .active .icon {
    color: #FF8035;
}

.services-content {
    background-color: #F7F7F7;
    padding: 0px 90px 100px;
}

    .services-content .title {
        padding: 100px 0;
        text-align: center;
    }

        .services-content .title p {
            color: #272727;
            font-size: 22px;
            font-family: ROBOTOSLAB-REGULAR;
        }

    .services-content .flex-ul .flex-li {
        background-color: #FFFFFF;
        padding: 13px 0;
        margin: 5.5px 0;
        color: #383838;
        font-size: 14px;
        font-family: Roboto-Regular;
    }

        .services-content .flex-ul .flex-li .text-content {
            color: #383838;
            font-size: 14px;
            font-family: Roboto-Regular;
            padding: 20px 0;
            display: none;
        }

            .services-content .flex-ul .flex-li .text-content p {
                color: #383838;
                font-size: 14px;
                font-family: Roboto-Regular;
            }

        .services-content .flex-ul .flex-li .title-li, .services-content .flex-ul .flex-li .title-li p {
            color: #272727;
            font-size: 18px;
            font-family: Roboto-Regular;
        }

        .services-content .flex-ul .flex-li .circle {
            display: block;
            width: 20px;
            height: 20px;
            border-radius: 10px;
            border: 2px solid #FF8035;
        }

        .services-content .flex-ul .flex-li .icon {
            font-size: 20px !important;
            color: #FF8035 !important;
            display: block !important;
        }

        .services-content .flex-ul .flex-li .number {
            color: #E9E9E9;
            font-size: 20px;
            font-family: ROBOTOSLAB-BOLD;
            padding: 0 25px;
        }

        .services-content .flex-ul .flex-li.active .text-content {
            display: block;
        }

        .services-content .flex-ul .flex-li.active .title-li, .services-content .flex-ul .flex-li.active .title-li p {
            color: #FF8035;
        }

        .services-content .flex-ul .flex-li.active .icon {
            transform: rotate(180deg);
            right: 45px;
            position: relative;
        }
/*****************************************************
*** Конец услуги ***
*****************************************************/

/*****************************************************
*** Стать нашим партнером ***
*****************************************************/




/*****************************************************
*** Конец стать нашим партнером ***
*****************************************************/




.arrow {
    position: relative;
    margin: 10px auto;
    width: 100%;
    height: 5px;
    background-color: #FF8035;
    background: linear-gradient(to right,#F7F7F7, #FAD0B8, #FF8035 );
    top: -80px;
}

    .arrow.small {
        opacity: 0.15;
        width: 50%;
    }

        .arrow.small.top {
            top: -120px;
            left: 150px;
        }

        .arrow.small.bottom {
            top: -85px;
            left: -95px;
        }

    .arrow:before,
    .arrow:after {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border: 40px solid transparent;
        border-right: 0;
        top: -10px;
        right: -14px;
        border-left-color: #FF8035;
        border-width: 12px 0 12px 16px;
    }



#third-problem {
    opacity: 0;
    transition: 1s ease-in-out;
}

    #third-problem.magictime {
        opacity: 1;
    }



#first-problem {
    opacity: 0;
    transition: 1s ease-in-out;
}

    #first-problem.magictime {
        opacity: 1;
    }


#second-problem {
    opacity: 0;
    transition: 1s ease-in-out;
}

    #second-problem.magictime {
        opacity: 1;
    }


#fourth-problem {
    opacity: 0;
    transition: 1s ease-in-out;
}

    #fourth-problem.magictime {
        opacity: 1;
    }


.my-dots {
    position: absolute;
    bottom: -65px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
}

    .my-dots li {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0 0px;
        padding: 0;
        cursor: pointer;
    }

        .my-dots li button {
            font-size: 0;
            line-height: 0;
            display: block;
            width: 20px;
            height: 20px;
            padding: 5px;
            cursor: pointer;
            color: transparent;
            border: 0;
            outline: none;
            background: transparent;
        }

            .my-dots li button:hover,
            .my-dots li button:focus {
                outline: none;
            }

                .my-dots li button:hover:before,
                .my-dots li button:focus:before {
                    opacity: 1;
                }

            .my-dots li button:before {
                content: '';
                display: inline-block;
                width: 5px;
                height: 5px;
                border-radius: 2.5px;
                background-color: #BEBEBE;
                transition: 0.3s ease-in-out;
            }

        .my-dots li.slick-active button:before {
            width: 13px;
            height: 13px;
            border-radius: 6.5px;
            border: 2px solid #BEBEBE;
            background-color: transparent;
            position: relative;
            top: 4px;
        }

.slick-initialized .slick-slide {
    outline: none !important;
}
