
@{
    Layout = null;
}

<header id="main-nav">
    <div class="top-header ">
        <div class="container">
            <div class="col-md-6 flex-top-header">

                <div><a href="#">Call-центр</a></div>
                <div><a href="#">Токен</a></div>
                <div><a href="#">Личный кабинет</a></div>

            </div>
            <div class="col-md-4 flex-nav-header pull-right">
                <div class="flex-item"><a href="#" class="active">РУС</a></div>
                <div class="flex-item"><a href="#">ENG</a></div>
            </div>
        </div>
    </div>
    <div class="bottom-header">
        <div class="container">
            <div class="col-md-2 flex-nav-header">
                <div class="flex-item">
                    <img src="~/asserts/img/logo call time.svg" height="39" width="111" />
                </div>
            </div>
            <div class="col-md-10  flex-nav-header">

                <div class="active flex-item"><a href="#" >Услуги</a></div>
                <div class="flex-item"><a href="#">О нас</a></div>
                <div class="flex-item"><a href="#">Контакты</a></div>
                <div class="flex-item"> <a href="#">Вакансии</a></div>

            </div>
        </div>
    </div>
</header><!-- //Main Nav -->