<section id="about-token">
    <div class="container">
        <div class="flex-about-token ">
            <div>
                <span class="orange-line-bold"></span>
            </div>
            <div>              
                <p>
                    Мы call-центр с
                    <b>5-ти летним стажем, с 500-ми мультиязычными операторами </b>
                    прошедшими курсы торговли на криптовалютных биржах, с
                    пециалисты в технологии блокчейн, которые готовые ответить на все ваши вопросы
                </p>
            </div>
        </div>
    </div>
</section>
