<section id="about-token">
    <div class="container">
        <div class="flex-about-token ">
            <div>
                <span class="orange-line-bold"></span>
            </div>
            <div class="wow flipInX">
                @ContentHelper.GetContent(Model.PageContents, EnumContentKey.TokenAboutText)
            </div>
        </div>
    </div>
</section>
