<section id="our-offers">
    <div class="container">
        <div align="center" class="title-section">
            <h1>Наше предложение биржам</h1>
            <span>Наш вклад в развития бирж на кривтовалютном рынке</span>
        </div>
        <div>
            <div class="col-md-6">
                <div class="img-offer wow fadeInLeft">
                    <img src="~/asserts/img/490302.jpg" " />
                </div>
            </div>
            <div class="flex-offers col-md-6">
                <div class="wow flipInX">
                    <div>
                        <span class="orange-box"></span>
                    </div>
                    <div>
                        <p> Разгрузим работу персонала решая элементарные однотипные проблемы </p>
                    </div>
                </div>
                <div class="wow flipInX" data-wow-delay="0.3s">
                    <div>
                        <span class="orange-box"></span>
                    </div>
                    <div>
                        <p> Поможем привлечь большее количество пользователей благодаря быстрому и качественному обслуживанию </p>
                    </div>
                </div>
                <div class="wow flipInX" data-wow-delay="0.6s">
                    <div>
                        <span class="orange-box"></span>
                    </div>
                    <div>
                        <p>
                            Повысим уровень доверия пользователей к бирже и криптовалютам 
                        </p>
                    </div>
                </div>
                <div class="wow flipInX" data-wow-delay="0.9s">
                    <div>
                        <span class="orange-box"></span>
                    </div>
                    <div>
                        <p>
                            Проведем консультацию новым пользователям бирж.
                            <br />
                            Первая консультация бесплатно
                        </p>
                    </div>
                </div>
                <div  class="wow flipInX" data-wow-delay="1.2s">
                    <div>
                        <span class="orange-box"></span>
                    </div>
                    <div>
                        <p>Повысим интерес новых пользователей в работе с вашей биржей</p>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</section>
