<section id="problems">
    <div class="container">
        <div class="title-section">
            <h1>Проблемы</h1>
            <span>Описание проблем пользователей и их решения нами</span>
        </div>
        <div class="list-problems">
            <div>
                <span class="title">
                    Ввод и вывод денег
                </span>
                <p>
                    Поможем быстро, безопасно и выгодно ввести и вывести ваши деньги на биржу. Расскажем о возможных вариантах
                    их преимуществах и недостатках и поможем выбрать оптимальное решение.
                </p>
            </div>
            <div>
              
                <span class="title">
                    Долгое время ожидания рассмотрения тикета
                </span>
                <p>
                    Мы оперативно объясним и поможем пользователям правильно 
                    оформить тикет (включить всю необходимую информацию) и проинформируем о текущих проблемах биржи и предполагаемых сроках ее решения
                </p>
            </div>
            <div>
                <span class="orange-line-bold"></span>
                <span class="title">
                    Блокировка учетной записи
                </span>
                <p>
                    Из-за увеличившегося количества взломов учетных записей и кражи 
                    средств мы поможем в кратчайшие сроки заблокировать учетную запись пользователя до выяснения обстоятельств сотрудниками биржи.
                </p>
            </div>
            <div>
                <span class="orange-line-bold"></span>
                <span class="title">
                    Отсутствие консультаций в работе с биржой
                </span>
                <p>
                    Проведем бесплатную первоначальную консультацию по работе с биржей для только что зарегистрировавшихся пользователей. 
                    Расскажем основные возможности и базовые стратегии торговли.
                </p>
            </div>
        </div>
    </div>
</section>
