<section id="solve-problems">
    <div class="container flex-column">
        <div class="title-header">
            Решаем проблемы
            
            <p>с <span>криптовалютными биржами</span></p>
        </div>
        <span  id="description-text"></span>
        <div class="desicription-header" id="desicription-header">
           
           
              
                    
                     
         
            <span class="typed">
               
            </span> 
        </div>
        <div>
            <button class="btn btn-orange" >ПОДПИСКА</button>
        </div>
        <div class="list-social">
            <div> <a href="#" class="animated-button victoria-one">Fasebook</a> </div>
            <div> <a href="#" class=" animated-button victoria-two">Twitter</a> </div>
            <div> <a href="#" class="animated-button victoria-four">Instagram</a> </div>
        </div>
        <div >
            
        </div>
     
    </div>

</section>

   