<section id="solve-problems">
    <div class="container flex-column">
        <div class="title-header">
            @ContentHelper.GetContent(Model.PageContents, EnumContentKey.SolveProblemsTitle)

            <p>с <span class="typed"></span></p>
        </div>
        <span  id="description-text"></span>
        <div class="desicription-header" id="desicription-header">
            @ContentHelper.GetContent(Model.PageContents, EnumContentKey.SolveProblemsText)

        </div>
        <div>
            <a href="#subscribe">
                <button class="btn btn-orange upper">@Resource.Subscription</button>
            </a>
        </div>
        <div class="list-social">
            <div> <a href="https://www.facebook.com/call.token.1" class="animated-button victoria-one">Facebook</a> </div>
            <div> <a href="https://twitter.com/call_token" class=" animated-button victoria-two">Twitter</a> </div>
            <div> <a href="#" class="animated-button victoria-four">Instagram</a> </div>
        </div>
        <div>
            
        </div>
     
    </div>

</section>

   