<section id="solve-problems">
    <div class="container flex-column">
        <div class="title-header">
            Решаем проблемы
            
            <p>с <span>криптовалютными биржами</span></p>
        </div>
        <span  id="description-text"></span>
        <div class="desicription-header" id="desicription-header">
            <span>
                Блокчейн и криптовалюты стали неотъемлемой частью современного общества, но большинство населения мало осведомлены о деталях … подпишись и мы осведомим, мать твою )
            </span> 
        </div>
        <div>
            <button class="btn btn-orange" >ПОДПИСКА</button>
        </div>
        <div class="list-social">
            <a href="#" >
                Fasebook
            </a>
            <a href="#" >
                 Twitter 
            </a>
            <a href="#" >
                Instagram
            </a>
        </div>
    </div>
</section>
