<section id="stages-project">
    @*<div>
        <span class="background-year">2018</span>
    </div>*@
    <div class="stage-container">

        <div align="center" class="title-section">
            @ContentHelper.GetContent(Model.PageContents, EnumContentKey.ProjectStagesTitle)
            <span>
                @ContentHelper.GetContent(Model.PageContents, EnumContentKey.ProjectStagesSubTitle)
            </span>
        </div>
        <div class="flex-stage">
            <div>
                <span class="black-text">
                    Рождение идеи
                </span>
            </div>
            <div>
                <span class="orange-text">
                    2018 / Квартал I
                </span>
            </div>
            <div>
                <span class="black-text">
                    Начало маркетинговой компании
                </span>
            </div>
            <div>
                <span class="orange-text">
                    Квартал I
                </span>
            </div>
            <div>
                <span class="black-text">
                    Начало переговоров с биржами
                </span>
            </div>
            <div>
                <span class="orange-text">
                    Квартал I
                </span>
            </div>
            <div>
                <span class="black-text">
                    Заключение договора на обслуживание с первой биржей
                </span>
            </div>
            <div>
                <span class="orange-text">
                    Квартал I
                </span>
            </div>
            <div>
                <span class="black-text">
                    Поддержка сторонних блокчейн проектов и стартапов
                </span>
            </div>

            <!--Точки-->
            <div class="point">
                <div>
                    <span></span>
                </div>
            </div>
            <div class="point">
                <div>
                    <span></span>
                </div>
            </div>
            <div class="point">
                <div>
                    <span></span>
                </div>
            </div>
            <div class="point">
                <div>
                    <span></span>
                </div>
            </div>
            <div class="point">
                <div>
                    <span></span>
                </div>
            </div>
            <div class="point">
                <div>
                    <span></span>
                </div>
            </div>
            <div class="point">
                <div>
                    <span></span>
                </div>
            </div>
            <div class="point">
                <div>
                    <span></span>
                </div>
            </div>
            <div class="point">
                <div>
                    <span></span>
                </div>
            </div>

            <div>
                <span class="orange-text bottom">
                    2017
                </span>
            </div>
            <div>
                <span class="black-text bottom">
                    Создание токена и обучение персонала
                </span>
            </div>
            <div>
                <span class="orange-text bottom">
                    Квартал I
                </span>
            </div>
            <div>
                <span class="black-text bottom">
                    Bounty компания
                </span>
            </div>
            <div>
                <span class="orange-text bottom">
                    Квартал I
                </span>
            </div>
            <div>
                <span class="black-text bottom">
                    Первоначальное размещение на бирже
                </span>
            </div>
            <div>
                <span class="orange-text bottom">
                    Квартал I
                </span>
            </div>
            <div>
                <span class="black-text bottom">
                    Обслуживание более 10 бирж
                </span>
            </div>
            <div>
                <span class="orange-text bottom">
                    Квартал I
                </span>
            </div>


        </div>
        <div class="arrow wow bounceInLeft"></div>
        <div class="arrow small top     "></div>
        <div class="arrow small bottom "></div>
    </div>
</section>
