<section id="stages-project">
    <div class="container">
        <span class="background-year">2018</span>
        <div align="center" class="title-section">
            <h1>Этапы развития проекта</h1>
            <span>Дорожная карта</span>
        </div>
        <div class="flex-stage">
            <div>
                <span class="black-text">
                    Рождение идеи
                </span>
            </div>
            <div>
                <span class="orange-text">
                    2018 / Квартал I
                </span>
            </div>
            <div>
                <span class="black-text">
                    Начало маркетинговой компании
                </span>
            </div>
            <div>
                <span class="orange-text">
                    Квартал I
                </span>
            </div>
            <div>
                <span class="black-text">
                    Начало переговоров с биржами
                </span>
            </div>
            <div>
                <span class="orange-text">
                    Квартал I
                </span>
            </div>
            <div>
                <span class="black-text">
                    Заключение договора на обслуживание с первой биржей
                </span>
            </div>
            <div>
                <span class="orange-text">
                    Квартал I
                </span>
            </div>
            <div>
                <span class="black-text">
                    Поддержка сторонних блокчейн проектов и стартапов
                </span>
            </div>
        </div>
    </div>
</section>
