<section id="subscribe">
    <div class="container">
        <div class="flex-subscribe">
            <div>
                <p>Подпишись и мы оповестим тебя о развитии нашего проекта</p>
            </div>
            <div>
                <input type="email" placeholder="mail@youmail.com"/>
            </div>
            <div>
                <button class="btn btn-orange">ПОДПИСАТЬСЯ</button>
            </div>
        </div>
    </div>
</section>
