<section id="subscribe">
    <div class="container">
        <form action="@Url.Action("Subscribe","Home")" method="post">
            <div class="flex-subscribe row">
                <div class="col-md-6">
                    <p>@Resource.SubscribeAndWeNotifyYou</p>
                </div>
                <div class="col-md-4" style="padding:0;">
                    <input type="email" style="width:100%;" name="email" required class="effect-8" placeholder="mail@youmail.com" />
                    <span class="focus-border">
                        <i></i>
                    </span>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-orange btn-small upper">@Resource.Subscribe</button>
                </div>
            </div>
        </form>
    </div>
</section>
