<section id="subscribe">
    <div class="container">
        <div class="flex-subscribe">
            <div>
                <p>Подпишись и мы оповестим тебя о развитии нашего проекта</p>
            </div>
            <div class="col-3">
                <input type="text" class="effect-8" placeholder="mail@youmail.com"/>
                <span class="focus-border">
                    <i></i>
                </span>
            </div>
            <div>
                <button class="btn btn-orange btn-small ">ПОДПИСАТЬСЯ</button>
            </div>
        </div>
    </div>
</section>
